* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.header img {
  width: 170px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.right {
  margin-right: 160px;
}

.header button {
  margin-left: 5px;
  height: 30px;
  width: 90px;
  border-radius: 2px;
  border: none;
  background-color: red;
}

.header button a {
  color: white;
}

.background {
  background-image: url("https://wallpapercave.com/wp/wp14818830.webp");
  height: 100vh;
}

.header select {
  height: 30px;
  width: 120px;
  background: transparent;
  border: 0.2px solid white;
  border-radius: 1px;
  color: white;
  font-size: 15px;
  padding-left: 10px;
}

.header select option {
  padding-left: 15px;
}

.um-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  color: white;
}

.um h1 {
  font-size: 70px;
}

.um h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.um p {
  font-size: 18px;
}

.um input {
}

.um button {
}

.um-h11 {
  padding-left: 18px;
}

.ib {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.ib input {
  width: 420px;
  height: 50px;
  margin-right: 6px;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
}

.ib button {
  width: 190px;
  height: 50px;
  background-color: red;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 3px;
}

::placeholder {
  padding-left: 15px;
  font-size: 15px;
  color: rgb(167, 179, 179);
}

.main-container {
  background-color: rgb(17, 17, 22);
}

.div-1 {
  display: flex;
  justify-content: space-around;
}

.div-1 img {
  border-radius: 10px;
  height: 230px;
  width: 200px;
  margin-top: 50px;
}

.tn {
  padding-left: 60px;
  padding-top: 20px;
  color: white;
}
