* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.header img {
  width: 170px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.right {
  margin-right: 160px;
}

.header button {
  margin-left: 5px;
  height: 30px;
  width: 90px;
  border-radius: 2px;
  border: none;
  background-color: red;
}

.header button a {
  color: white;
}

.background {
  background-image: url("https://wallpapercave.com/wp/wp14818830.webp");
  height: 100vh;
}

.header select {
  height: 30px;
  width: 120px;
  background: transparent;
  border: 0.2px solid white;
  border-radius: 1px;
  color: white;
  font-size: 15px;
  padding-left: 10px;
}

.header select option {
  padding-left: 15px;
}

.um-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  color: white;
}

.um h1 {
  font-size: 70px;
}

.um h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.um p {
  font-size: 18px;
}

.um input {
}

.um button {
}

.um-h11 {
  padding-left: 18px;
}

.ib {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.ib input {
  width: 420px;
  height: 50px;
  margin-right: 6px;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
}

.ib button {
  width: 190px;
  height: 50px;
  background-color: red;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 3px;
}

::placeholder {
  padding-left: 15px;
  font-size: 15px;
  color: rgb(167, 179, 179);
}

.main-container {
  background-color: rgb(17, 17, 22);
}

.div-1 {
  display: flex;
  justify-content: space-around;
}

.div-1 img {
  border-radius: 10px;
  height: 230px;
  width: 200px;
  margin-top: 50px;
}

.tn {
  padding-left: 60px;
  padding-top: 20px;
  color: white;
}

.div {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background: linear-gradient(90deg, #0a2540, #102f55);
}

.div-2 {
  display: flex;
  justify-content: space-around;
}

.div2h1 {
  color: white;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.div2h2 {
  padding-left: 25px;
  padding-top: 30px;
  color: white;
}

.div2p {
  padding-left: 23px;
  margin-top: 7px;
  color: rgb(246, 229, 229);
  font-size: 18px;
  line-height: 40px;
}

.container2 {
  padding-bottom: 30px;
}

.container3h1 {
  color: white;
  padding-left: 35px;
  margin-bottom: 30px;
}

.div3_1 {
  height: 80px;
  width: 1200px;
  background-color: rgb(27, 27, 54);
  margin-left: 30px;
  margin-bottom: 30px;
  color: white;
  padding-top: 25px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.fa-solid.fa-plus {
  padding-right: 60px;
  font-size: 30px;
}

.div_big {
  height: 200px;
  width: 1200px;
  background-color: rgb(27, 27, 54);
  margin-bottom: 30px;
  margin-left: 30px;
  color: white;
  padding-top: 25px;
  padding-left: 30px;
}

.Container3 {
  margin-left: 100px;
}

.Container4p {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.paracontainer {
  text-align: center;
}

.Container4 {
  display: flex;
  justify-content: center;
}

.Container4 input {
  width: 650px;
  height: 45px;
  margin-right: 10px;
  border: none;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
}

.Container4 button {
  width: 200px;
  background-color: red;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}

.fa-solid.fa-arrow-right {
  padding-left: 20px;
}

.footerp {
  color: white;
  margin-left: 150px;
  margin-top: 60px;
}

.footerp a {
  color: rgb(223, 207, 207);
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.footer ul li {
  padding-bottom: 15px;
}

.footer ul li {
  padding-bottom: 15px;
}

.footer ul li {
  padding-bottom: 15px;
}

.footer ul li a {
  color: rgb(223, 207, 207);
}

.footers {
  margin-left: 130px;
  margin-top: 50px;
  width: 120px;
  height: 40px;
  background: transparent;
  color: rgb(223, 207, 207);
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 15px;
}

.final-div {
  margin-left: 130px;
  margin-top: 30px;
}

.fdp1 {
  color: white;
  margin-bottom: 30px;
}

.fdp2 {
  color: white;
}

.fdp2 a {
  color: rgb(112, 158, 178);
}
